body {

    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

.suplemento{
    background-color: grey;
 
}

#imgCarrinho {
    background-color: grey;
}


#nomeProduto {
    font-size: 40px;
    color: rgb(255, 208, 0);
}
#descricao {
    font-size: 23px;
    color: white;
}
#preco {
    font-size: 40px;
    color: rgb(255, 208, 0);
}